{#
参考: https://linux.do/t/topic/164615 进行修改和配置
#}
{
  "log": {
    "disabled": {{ sing_box_log | default(false) | lower }},
    "level": "{{ sing_box_log_level | default('info') }}",
    "timestamp": true
  },
  "inbounds": [
    {% for protocol in ['ss', 'vless', 'vmess', 'hysteria2', 'tuic'] %}
    {%- if (protocol == 'ss' and sing_box_ss_enable) or
          (protocol == 'vless' and sing_box_vless_enable) or
          (protocol == 'vmess' and sing_box_vmess_enable) or
          (protocol == 'hysteria2' and sing_box_hysteria2_enable) or
          (protocol == 'tuic' and sing_box_tuic_enable) -%}
    {
      "type": "{{ 'shadowsocks' if protocol == 'ss' else protocol }}",
      "tag": "{{ protocol }}-in",
      "listen": "::",
      "listen_port": {{ vars['sing_box_' ~ protocol ~ '_port'] | default(43210 + loop.index0) }},
      "sniff": true,
      "sniff_override_destination": true,
      {% if protocol == 'hysteria2' -%}
      "up_mbps": {{ sing_box_hysteria2_up_mbps }},
      "down_mbps": {{ sing_box_hysteria2_down_mbps }},
      "obfs": {
        "type": "{{ sing_box_hysteria2_obfs_type }}",
        "password": "{{ sing_box_hysteria2_obfs_password }}"
      },
      {% endif -%}
      {% if protocol == 'ss' -%}
      "method": "{{ sing_box_ss_method }}",
      "password": "{{ sing_box_ss_password }}",
      {% endif -%}
      {% if protocol == 'vmess' -%}
      "transport": {
        "type": "ws",
        "path": "{{ sing_box_vmess_path }}",
        "max_early_data": {{ sing_box_vmess_early_data }},
        "early_data_header_name": "{{ sing_box_vmess_header }}"
      },
      {% endif -%}
      "users": [
        {%- for user in (protocol == 'ss' and sing_box_ss_users) or
                        (protocol == 'vless' and sing_box_vless_users) or
                        (protocol == 'vmess' and sing_box_vmess_users) or
                        (protocol == 'hysteria2' and sing_box_hysteria2_users) or
                        (protocol == 'tuic' and sing_box_tuic_users) -%}
        {
          "name": "{{ user.name }}",
          {% if user.uuid is defined -%}
          "uuid": "{{ user.uuid }}"{% if protocol in ['vless', 'tuic'] %},{% endif -%}
          {% if protocol == 'vless' %}
          "flow": "{{ user.flow | default('') }}"
          {%- endif %}
          {%- endif %}
          {%- if protocol in ['ss', 'hysteria2', 'tuic'] -%}
          "password": "{{ user.password }}"
          {%- elif protocol == 'vmess' %},
          "alterId": {{ user.alterId | default(0) }}
          {%- endif %}
        }
        {% if not loop.last %},{% endif -%}
        {% endfor -%}
      ],
      {% if protocol == 'hysteria2' -%}
      "ignore_client_bandwidth": {{ sing_box_hysteria2_ignore_client_bandwidth | lower }},
      "masquerade": "{{ sing_box_hysteria2_masquerade }}",
      "tls": {
        "enabled": true,
        "server_name": "{{ sing_box_hysteria2_tls_server }}",
        "certificate_path": "{{ sing_box_hysteria2_tls_cert }}",
        "key_path": "{{ sing_box_hysteria2_tls_key }}"
      }
      {% endif -%}
      {% if protocol == 'vless' -%}
      "tls": {
        "enabled": {{ tls_enable | default(true) | lower }},
        "server_name": "{{ tls_server_name }}",
        "reality": {
          "enabled": {{ tls_reality_enable | default(true) | lower }},
          "handshake": {
            "server": "{{ tls_handshake_server }}",
            "server_port": {{ tls_handshake_server_port }}
          },
          "private_key": "{{ tls_private_key }}",
          "short_id": [
            {% for id in tls_short_id -%}
            "{{ id }}"{{ "," if not loop.last else "" }}
            {%- endfor -%}
          ]
        }
      },
      {% endif -%}
      {% if protocol in ['ss', 'vless', 'vmess'] -%}
      "multiplex": {
        "enabled": {{ multiplex_enable | lower }},
        "padding": {{ multiplex_padding | lower }},
        {% if brutal_enable -%}
        "brutal": {
          "enabled": {{ brutal_enable | lower }},
          "up_mbps": {{ brutal_up }},
          "down_mbps": {{ brutal_down }}
        }
        {% endif -%}
      }
      {% endif -%}
      {% if protocol == 'tuic' -%}
      "congestion_control": "{{ sing_box_tuic_congestion }}",
      "auth_timeout": "{{ sing_box_tuic_auth_timeout }}",
      "heartbeat": "{{ sing_box_tuic_heartbeat }}",
      "zero_rtt_handshake": {{ sing_box_tuic_zero_rtt_handshake | default(true) | lower }},
      "tls": {
        "enabled": true,
        "server_name": "{{ sing_box_tuic_tls_server }}",
        "certificate_path": "{{ sing_box_tuic_tls_cert }}",
        "key_path": "{{ sing_box_tuic_tls_key }}"
      }
      {% endif -%}
    }{% if not loop.last %},{% endif %}
    {% endif -%}
    {% endfor -%}
  ],
  "outbounds": [
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "rules": [
      {%- for protocol in ['ss', 'vless', 'vmess', 'hysteria2', 'tuic'] %}
      {%- if (protocol == 'ss' and sing_box_ss_enable) or
            (protocol == 'vless' and sing_box_vless_enable) or
            (protocol == 'vmess' and sing_box_vmess_enable) or
            (protocol == 'hysteria2' and sing_box_hysteria2_enable) or
            (protocol == 'tuic' and sing_box_tuic_enable) -%}
      {
        "inbound": ["{{ protocol }}-in"],
        "outbound": "direct"
      }{% if not loop.last %},{% endif %}
      {% endif %}
      {%- endfor -%}
    ]
  }
}
